<<<<<<< HEAD

=======
>>>>>>> 916388c1ca77c217776157c1c7ec1248550f973a
.leftbox{
    width: 20%;
    height: 80vh;
    border: 2px solid blue;
}
.rightbox{
    width: 10%;
    height: 80vh;
    border: 2px solid rgb(219, 30, 87);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.table-container{
    width: 80%;
    height: 80%;
    border: 2px solid yellow;
    display: flex;
}