.container{
    display: flex;
}
.leftbox{
    width: 20%;
    height: 80vh;
    border: 2px solid blue;
}
.rightbox{
    width: 80%;
    height: 80vh;
    border: 2px solid rgb(219, 30, 87);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.table-container{
    width: 80%;
    height: 80%;
    border: 2px solid yellow;
}